
<!-- start of row -->
<div class="row">
	<div class="header">
		<h1>short link</h1>
		<div class="col-xs-offset-3 col-xs-6 col-xs-offset-3">
			<%= form_for(@link) do |f|  %>
				
				<div class="input-group input-group-lg">
					<%= f.text_field :url, placeholder: 'Enter URL', class: 'form-control input-lg', required: 'true' %>
					<span class="input-group-btn">
						<%= f.submit 'Generate', class: 'btn btn-primary btn-lg' %>
					</span>
				</div>
			<% end %>
		</div>
	</div><!-- end of header -->

	<!-- start of display of links -->
	<div class="col-xs-offset-3 col-xs-6 col-xs-offset-3">
		<ul class="links-display">
			<% @links.each do |link| %>
				<%= render link %>
			<% end %>
		</ul>
		<%= will_paginate %>
	</div> <!-- end of display of links -->

</div><!-- end of row -->