@import "bootstrap-sprockets";
@import "bootstrap";


.header {
	text-align: center;
	margin-top: 70px;
	margin-bottom: 100px;
	h1 {
		text-transform: uppercase;
		margin-bottom: 20px;
	}
}

.links-display {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		padding: 5px 0;
		border-bottom: 1px solid #c2c2c2;
	}
}